# Project exclude paths
/.gradle/
/Problems/Reading integer numbers/out/
/Problems/Reading integer numbers/out/production/classes/
/Problems/Replacing 'a' with 'b'/out/
/Problems/Replacing 'a' with 'b'/out/production/classes/
/Simple Chatty Bot/task/build/